@import "tailwindcss";

@theme {
  --breakpoint-xs: 24rem;

  --font-space-grotesk: var(--font-space-grotesk);

  --color-foreground: hsl(278, 68%, 11%);
  --color-foreground-muted: hsl(279, 6%, 35%);
  --color-background: hsl(0, 0%, 98%);

  --color-primary-foreground: hsl(0, 0%, 98%);
  --color-primary-foreground-muted: hsl(276, 9%, 78%);
  --color-primary-background: hsl(278, 68%, 11%);

  --color-border: hsl(270, 3%, 80%);
  --color-ring: hsl(270, 3%, 80%);
  --color-error: hsl(0, 50%, 45%);

  --color-gradient-start: hsl(249, 99%, 64%);
  --color-gradient-end: hsl(278, 94%, 30%);

  --color-card-bg: hsl(230, 9%, 87%);
  --color-card-black: hsl(0, 0%, 18%);
  --color-card-grey: hsl(212, 12%, 71%);
}
